# Set default behavior to automatically normalize line endings
* text=auto

# Force LF line endings for code files and Prisma schema
*.ts     text eol=lf
*.tsx    text eol=lf
*.js     text eol=lf
*.json   text eol=lf
*.prisma text eol=lf
